{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <div class="content">
        <!-- Temperature and PMs Row -->
        <div class="row">
            <div class="col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <h2>Sensor</h2>
                    </div>
                    <script>
                        function nav() {
                            var w = document.myform.myselect.selectedIndex;
                            var url_add = document.myform.myselect.options[w].value;
                            window.location.href = url_add;
                        }
                    </script>
                    <div class="card-body">
                        <form name="myform" method="get">
                            <select name="myselect" class="form-control" id="onlyselect" onchange="nav();">
                                <option value>{{ node }} - Current </option>
                                <option value="/node/num0/">num0 - F1</option>
                                <option value="/node/num1/">num1 - F2</option>
                                <option value="/node/num2/">num2 - F2</option>
                                <option value="/node/num3/">num3 - G</option>
                            </select>
                        </form>
                        <br>

                        Current Node: {{ node }}
                        {% if node == 'num0' %}
                        <img id="F1" src="{% static 'img/F1.svg' %}">
                        {% endif %}
                        {% if node == 'num1' %}
                        <img id="F2" src="{% static 'img/F2.svg' %}">
                        {% endif %}
                        {% if node == 'num2' %}
                        <img id="F2-2" src="{% static 'img/F2-1.svg' %}">
                        {% endif %}
                        {% if node == 'num3' %}
                        <img id="FG" src="{% static 'img/FG.svg' %}">
                        {% endif %}
                        <!--                        <img src="{% static 'img/B.svg' %}">-->
                        <hr>
                        <br style="margin: 0">
                        <div style="padding: 0; margin: 0" class="card-header">
                            <h2 style="padding: 0; margin: 0;">Node {{ node }}'s GPS Info</h2>
                        </div>
                        <br>
                        GPS - Longtitute: {{ GPS_lng }}
                        <br>
                        GPS - Latitute: {{ GPS_lat }}
                        <br>
                        GPS - Altitute: {{ GPS_alt }}

                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card card-default">
                    <div class="card-header">
                        <h2>Air Pressure</h2>
                    </div>
                    <div class="card-body">
                        <canvas id="AP" width="400" height="300"></canvas>
                        <script>
                            var ctx = document.getElementById('AP').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                                    labels: {{ labels|safe }},
                            datasets:[
                                {
                                    label: 'Air Pressure',
                                    data: {{ AP|safe }},
                            borderColor: '#fcb70a',
                                backgroundColor: '#feba0d',
                                borderWidth: 1
                            }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        min: 990, max: 1027,
                                            beginAtZero: true
                                    }
                                }
                            }
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card card-default">
                    <div class="card-header d-flex flex-wrap justify-content-between">
                        <h2>Temperature Ext.</h2>
                        <div class="date-range-report ">
                            <span></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="Temperature" width="400" height="200"></canvas>
                        <script>
                            var ctx = document.getElementById('Temperature').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                                    labels: {{ labels|safe }},
                                    datasets: [{
                                        label: 'Temperature',
                                        data: {{ data|safe }},
                                        borderColor: '#c04851',
                                            backgroundColor: '#ea7293',
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            min: 17, max: 30,
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                        <div class="card-header d-flex flex-wrap justify-content-between">
                            <h2>Humidity Ext.</h2>
                            <div class="date-range-report ">
                                <span></span>
                            </div>
                        </div>
                    <div class="card-body">
                        <canvas id="Humidity" width="400" height="200"></canvas>
                        <script>
                            var ctx = document.getElementById('Humidity').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                                    labels: {{ labels|safe }},
                            datasets:[
                            {
                                label: 'Humidity',
                                    data: {{ data1|safe }},
                                borderColor: '#15559a',
                                    backgroundColor: '#346c9c',
                                borderWidth: 1
                            }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        min:20, max: 60,
                                        beginAtZero: true
                                    }
                                }
                            }
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h2>Current PMs</h2>
                    </div>
                    <div class="card-body">
                        <canvas id="PMs" width="400" height="200"></canvas>
                        <script>
                            var ctx = document.getElementById('PMs').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                                    labels: {{ labels|safe }},
                            datasets:[
                                {
                                    label: 'PM1',
                                    data: {{ PM1|safe }},
                                    borderColor: '#fcb70a',
                                    backgroundColor: '#feba0d',
                                    borderWidth: 1
                                },
                                {
                                    label: 'PM10',
                                        data: {{ PM10|safe }},
                                    borderColor: '#ed3b2f',
                                        backgroundColor: '#ed3b2f',
                                    borderWidth: 1
                                },
                                {
                                    label: 'PM2.5',
                                        data: {{ PM2_5|safe }},
                                    borderColor: '#15559a',
                                        backgroundColor: '#346c9c',
                                    borderWidth: 1
                                },
                            ]
                            },
                            options: {
                                scales: {
                                    y: {
                                            beginAtZero: true
                                    }
                                }
                            }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>
{% endblock content %}